body {
    text-align: center;
    background-color: teal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    cursor: pointer;
}

hr {
    border-style: double;
    color: solid black 10px;
    width: 95vw;
    height: 100%;
    position: relative;
}

/*header*/
.header-title {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    margin-bottom: 2vh;
    color: white;
    cursor: pointer;
}

.title-name {
    padding: 0.5rem;
}

/*main*/

main {
    margin-top: 100px;
}

.search-results {
    margin-top: 4rem;
    cursor: pointer;
}

/*dropdown*/
.drop-btn.form-select.form-select-lg.mb-3.mt-3 {
    height: 2rem;
    width: 10rem;
    background-color: black;
    font-size: larger;
    color: teal;
    cursor: pointer;
}

option {
    position: relative;
    cursor: pointer;
}

/*cards*/
.card-img {
    width: 70px;
    padding: 1rem 1rem 1rem 1rem;
    cursor: pointer;
}

.card-type {
    width: 100%;
    height: 0.25px;
    text-transform: capitalize;
    font-size: medium;
}

.card-link:hover {
    color: black;
}

.card-img {
    width: 150px;
    height: 15rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    color:black;
}

.display-card-body {
    height: 24rem;
    width: 16rem;
    display: inline-block;
    border-radius: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: 10% solid black;;
    margin: 0.5rem;
    background-color: teal;
}

.card-link {
    text-decoration: none;
    color: yellow;
}
.display-card-body:hover{
    color: black !important;
}
.fav-items {
    display: inline-block;
    margin: 1rem;
    background-color: black;
    border-radius: 8%;
}

.App-footer {
    text-align: center;
    margin: 2rem auto;
    position: relative;
    background-color: teal;
    padding: 3rem;
}

.button-clicked {
    color: yellow;
    cursor: pointer;
}